.favorite {
    position: fixed;
    width: 400px;
    height: 100%;
    background: white;
    top: 0;
    right: 0;
    padding: 25px;
    overflow: auto;
    z-index: 2;
    transform: translateX(100%);
    transition: 0.6s;
    
    @media (max-width: 550px) {
        width: 80%;
    }

    @media (max-width: 400px) {
        width: 100%;
    }
    
    &Td {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        
        &Empty {
            grid-column-start: 1;
            grid-column-end: 3;
            position: absolute;
            justify-self: center;
            top: 40vh;
            font-size: 26px;
        }
    }

    &Head {
        display: flex;
        justify-content: space-between;
        
        &Title {
            font-size: 28px;
        }

        &Close {
            cursor: pointer;
        }
    }
}  

.active {
    transform: translateX(0%);
    transition: 0.6s;
}