
   
        .wrapper {
            margin: 5px 10px;
            
            &Added {
                border: 1px solid rgb(173, 173, 173);
                padding: 10px 15px;
                margin: 10px 10px 0px;
                display: flex;
                flex-direction: column;

                &Img {
                    align-self: center;
                }

                &Info {
                    margin-top: 5px;
                    text-align: center;

                    &Price {
                        margin-top: 5px;
                    }

                    &Delete {
                        margin-top: 5px;
                        border: none;
                        padding: 5px;
                        background: rgb(223, 223, 223);
                        font-weight: bold;
                    }
                }
            }
        }
