.sort {
    position: relative;
    font-weight: bold;
    user-select: none;
    align-self: center;

    @media (max-width: 820px) {
        margin: 5px;
    }

    @media (max-width: 425px) {
        margin: 0;
    }

    &Name {
        cursor: pointer;
        margin-right: 40px;
        font-size: 18px;
        padding: 5px 10px; 
        display: flex;
        width: 365px;

        @media (max-width: 1130px) {
            margin-right: 0;
        }

        @media (max-width: 425px) {
            width: auto;
        }
    }

    &Menu {
        position: absolute;
        display: flex;
        background-color: white;
        font-size: 18px;
        width: 220px;
        margin-top: 10px;
        box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.2);
        z-index: 2;

        @media (max-width: 1130px) {
            width: 180px;
        }
        
        &Ul {
            padding: 12px;
            line-height: 30px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width: 1130px) {
                font-size: 14px;
                line-height: 25px;
            }

            &Item {
                cursor: pointer;
            }

            span {
                margin-top: 15px;
                border: 2px solid black;
                border-radius: 20px;
                padding: 1px;
                text-align: center;
                width: 90%;
                cursor: pointer;

                @media (max-width: 1130px) {
                    margin-top: 5px;
                }
            }
        }
    }
}