.content {
    padding-top: 20px;
    min-width: 1000px;
    justify-self: center;
    font-family: 'Roboto';

    &Filters {
        display: flex;
        justify-content: space-between;
    }

    &Main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 30px;
    }
}