.content {
    padding-top: 20px;
    min-width: 1000px;
    justify-self: center;
    font-family: 'Roboto';
    margin-bottom: 30px;

    &Filters {
        display: flex;
        justify-content: space-between;
    }

    &Main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 25px 0 25px 0;
    }
}