.header {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-weight: bold;
    border-bottom: 1px solid rgb(226, 224, 224);

    &Overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0, 0.5);
        z-index: 1;

        &Favorite {
            position: absolute;
            width: 400px;
            height: 100%;
            background: white;
            top: 0;
            right: 0;
            padding: 25px;
            overflow: auto;
            
            &Td {
                display: grid;
                grid-template-columns: 1fr 1fr;
                position: relative;
                
                &Empty {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    position: absolute;
                    justify-self: center;
                    top: 40vh;
                    font-size: 26px;
                }
            }

            &Head {
                display: flex;
                justify-content: space-between;
                
                &Title {
                    font-size: 28px;
                }
    
                &Close {
                    cursor: pointer;
                }
            }
        }    

        &Cart {
            position: absolute;
            width: 400px;
            height: 100%;
            background: white;
            top: 0;
            right: 0;
            padding: 25px;
            display: grid;
            grid-template-rows: 0.5fr 12fr 1fr;

            &Overflow {
                margin: 5px 0px 25px;
                overflow: auto;

                &Empty {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 28px;
                }
            }

            &Buy {
                
                &Cort {
                    font-size: 20px;
                    margin-bottom: 5px;
                }
                
                &Order {
                    border: none;
                    background: rgb(223, 223, 223);
                    padding: 7px;
                    margin-top: 10px;
                    font-weight: bold;
                }
            }

            &Head {
                display: flex;
                justify-content: space-between;
                
                &Title {
                    font-size: 28px;
                }
    
                &Close {
                    cursor: pointer;
                }
            }
        }
    }

    &Search {
        height: 35px;
        width: 320px;
        align-self: center;
        padding: 15px 10px;
        background: rgb(226, 224, 224);
        border: none;
        font-size: 18px;

        &:focus, &:hover {
            outline:1px solid rgb(167, 166, 166);
        }
    }

    &Name {
        display: flex;
        padding-left: 20px;

        &Logo {
            background-size: contain;
            height: 55px;
            align-self: center;
            width: 74px;
        }

        &Title {
            font-size: 24px;
            align-self: center;
            margin-left: 10px;
        }
    }
    
    &Purchases {
        display: flex;
        padding-right: 15px;
        
        &Cart {
            width: 27px;
            height: 27px;     
        }

        &Favourites {
            width: 25px;
            height: 25px;
        }

        &Cart, &Favourites {
            background-size: contain;
            align-self: center;
            margin-right: 30px;
            cursor: pointer;
        }
    }
}