.cart {
    position: fixed;
    width: 400px;
    height: 100%;
    background: white;
    top: 0;
    right: 0;
    padding: 25px;
    display: grid;
    grid-template-rows: 0.5fr 12fr 1fr;
    z-index: 2;
    transform: translateX(100%);
    transition: 0.6s;

    @media (max-width: 550px) {
        width: 330px;
    }

    @media (max-width: 400px) {
        width: 100%;
    }

    &Overflow {
        margin: 5px 0px 25px;
        overflow: auto;

        &Empty {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 28px;
        }
    }

    &Buy {
        
        &Cort {
            font-size: 20px;
            margin-bottom: 5px;
        }
        
        &Order {
            border: none;
            background: rgb(223, 223, 223);
            padding: 7px;
            margin-top: 10px;
            font-weight: bold;
        }
    }

    &Head {
        display: flex;
        justify-content: space-between;
        
        &Title {
            font-size: 28px;
        }

        &Close {
            cursor: pointer;
        }
    }
}

.active {
    transform: translateX(0%);
    transition: 0.6s;
}