.welcome {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    img{
        height: 100px;
        width: 80%;
        height: 70%;
        background-size: contain;
        border-radius: 15px;  
        margin: 20px 0 10px 0; 

        @media (max-width: 560px) {
            height: 60%;
        }

    }
    
    &Catalog {
        height: 20%;
        display: flex;
        font-size: 22px;

        @media (max-width: 870px) {
            font-size: 18px;
        }

        @media (max-width: 700px) {
            font-size: 12px;
        }

        &Products {
            align-self: center;
            cursor: pointer;
            text-decoration: none;
            color: black;
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            border: 3px solid black;
            padding: 10px;
            border-radius: 25px;

            @media (max-width: 560px) {
                border: 2px solid black;
            }
        }
    }
}