.category {
    align-self: center;

    ul {
        display: inline-flex;
        font-size: 18px;
        font-weight: bold;

        @media (max-width: 1130px) {
            font-size: 12px;
        }

        .categoryName {
            padding: 8px 14px;
            border: 1px solid black;
            border-radius: 20px;
            margin-right: 15px;
            cursor: pointer;
            user-select: none;

            @media (max-width: 1130px) {
                align-self: center;
                padding: 6px 6px;
                margin-right: 8px;
            }

            &Active {
                background-color: black;
                color: white;
                padding: 8px 14px;
                border: 1px solid black;
                border-radius: 20px;
                margin-right: 15px;
                cursor: pointer;
                user-select: none;

                @media (max-width: 1130px) {
                    align-self: center;
                    padding: 6px 6px;
                    margin-right: 8px;
                }
            }

            &:hover {
                background-color: black;
                color: white;
                transition: 0.3s;
            }
        }
    }   
}